<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    Name: <input type="text" name="name">
    Email: <input type="email" name="email">
    RollNo: <input type="text" name="roll_no">
    Bio: <input type="text" name="bio">
    <input type="submit">
</form>
<br>

{% for s in stds %}
    <p>Name: {{ s.name }}</p>
    <p>Email: {{ s.email }}</p>
    <p>Roll no: {{ s.roll_no }}</p>
    <p>Bio: {{ s.bio }}</p>
    <hr>
{% endfor %}
</body>
</html>